.education_container {
  grid-template-columns: 1fr repeat((1, max-content));
  justify-content: center;
  padding-bottom: 5rem;
}

.edu_card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.75rem;
  text-align: center;
}

.card_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
}
